@model IEnumerable<Ecommerce1.Models.Produto>

@{
    ViewBag.Title = "Lista Produtos";
}

<h2>Lista Produtos</h2>

<p>
    @Html.ActionLink("Create New", "CreateProduct")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.preco)
            </td>
            <td id="quantidade@(item.idProduto)">
                @Html.DisplayFor(modelItem => item.quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.nome)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProduct", new { id = item.idProduto }) |
                @Html.ActionLink("Details", "DetailsProduct", new { id = item.idProduto }) |
                @Html.ActionLink("Delete", "DeleteProduct", new { id = item.idProduto }) |             
                <a href="#" onclick="decrementa(@(item.idProduto));"> Decrementar</a>  |
                <a href="#" onclick="incrementa(@(item.idProduto));"> Incrementar</a>
                
            </td>
        </tr>
    }

</table>

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>


<script>
    function decrementa(idProduto) {
        $.ajax({
            dataType: "json",
            type: "POST",
            url: "/Admin/Decrementa",
            data: { id: idProduto },
            success: function (dados) {
               

                    $("#quantidade" + dados.idProduto).html(dados.quantidade);

                
            }
        });
    };

    function incrementa(idProduto) {
        $.ajax({
            dataType: "json",
            type: "POST",
            url: "/Admin/Incrementa",
            data: { id: idProduto },
            success: function (dados) {
               

                    $("#quantidade" + dados.idProduto).html(dados.quantidade);

              
            }
        });
    };
</script>

